{% extends "nav.html" %}

{% block title %}
{% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8 max-w-xl">
        <div class="flex justify-center items-center mt-4">
            <div class="flex border border-[#164863] rounded-full overflow-hidden">
                <h1 class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full focus:outline-none">ยืนยันการใช้คูปอง</h1>
            </div>
        </div>

        <div class="relative mb-8">
            <div class="relative bg-[#164863] rounded-2xl h-[450px] mt-4 coupon-shape p-10 semicircle-left semicircle-right">
            <!-- วงกลมซ้าย -->
                    <div class="absolute z-10 top-2/3 left-0 transform -translate-y-1/2 -translate-x-1/2 w-14 h-14 bg-white rounded-full" style="clip-path: inset(0 0 0 50%);"></div>
            <!-- วงกลมขวา -->
                    <div class="absolute z-10 top-2/3 right-0 transform -translate-y-1/2 translate-x-1/2 w-14 h-14 bg-white rounded-full" style="clip-path: inset(0 50% 0 0);"></div>
                <!-- Promotional Section -->
                <div class="text-white space-y-6">
                <div class="text-center">
                        <p class="text-xl mb-4">ร้าน: <span class="font-semibold">{{ store.store_name }}</span></p>
                        <p class="text-xl">โปรโมชั่น: <span class="font-semibold">{{ promotion.name }}</span></p>
                    </div>
                    <div class="text-center space-y-4">
                        <p>คูปองที่สะสม: {{ collected_count }}/{{ required_count }}</p>
                        {% if promotion.discount %}
                        <p>ส่วนลด {{ promotion.discount }}%</p>
                        {% endif %}
                        {% if promotion.free %}
                        <p>แก้วฟรี {{ promotion.free }} แก้ว</p>
                        {% endif %}
                    </div>
                </div>

                <!-- เส้นประ -->
                    <div class="border-t-4 border-white border-dashed mt-24 mb-8 mx-2"></div>

                <!-- Customer Section -->
                {% if member and validations.is_store_owner %}
                <div class="text-white space-y-6 mt-8">
                    <div class="text-center space-y-4 ">
                        <h2 class="text-2xl font-semibold">ชื่อผู้ใช้งาน</h2>
                        <p>{{ member.user.first_name }} {{ member.user.last_name }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% if validations.is_store_owner %}
        <form method="post" class="space-y-6">
            {% csrf_token %}
            <div class="flex justify-center">
                <label class="flex items-center space-x-3 text-[#164863]">
                    <input type="checkbox" name="confirm " required class="w-5 h-5 rounded ">
                    <span>ยืนยันการใช้คูปอง</span>
                </label>
            </div>
            <div class="flex justify-center space-x-4">
                <button type="submit" class="bg-white text-[#164863] border border-[#164863] font-semibold py-3 px-8 rounded-full hover:text-white hover:bg-[#164863]">
                    ยืนยัน
                </button>
                <a href="{% url 'promotions_store' %}" class="bg-white text-[#164863] border border-[#164863] font-semibold py-3 px-8 rounded-full hover:text-white hover:bg-[#164863]">
                    ยกเลิก
                </a>
            </div>
        </form>
        {% endif %}
    </div>
</body>
{% endblock %}