{% load static %}
<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="flex flex-col items-center justify-center min-h-screen bg-[#164863]">
<div class="flex border border-white rounded-full overflow-hidden h-14">
    <h2 class="px-2 py-2 bg-white text-[#164863] font-medium m-2 rounded-full focus:outline-none">คูปองสำหรับโปรโมชั่น: {{ promotion.name }}</h2>
</div>
     <div class="grid grid-cols-1 gap-3 h-[550px] w-3/4 overflow-y-auto place-items-center mt-10 ">
    {% for qr_code in qr_codes %}
    <!-- การ์ดคูปอง -->
    <div class="bg-white shadow-xl relative rounded-3xl p-6 w-1/3 mb-4">
        <!-- วงกลมซ้าย -->
        <div class="absolute z-10 top-[calc(35%-0.15rem)] left-0 transform -translate-y-1/2 -translate-x-1/2 w-14 h-14 bg-[#164863] rounded-full" style="clip-path: inset(0 0 0 50%);"></div>
        <!-- วงกลมขวา -->
        <div class="absolute z-10 top-[calc(35%-0.15rem)] right-0 transform -translate-y-1/2 translate-x-1/2 w-14 h-14 bg-[#164863] rounded-full" style="clip-path: inset(0 50% 0 0);"></div>

        <!-- หัวข้อ -->
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-[#164863] font-bold text-2xl">{{ promotion.store.store_name }}</h2>
        <div class="text-sm text-gray-900">
            {% if promotion.discount %}
                <p class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">ลด {{ promotion.discount|floatformat:0 }}%</p>
            {% elif promotion.free %}
                <p class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">{{ promotion.cups }} ฟรี {{ promotion.free }}</p>
            {% endif %}
        </div>
        </div>

        <!-- ชื่อโปรโมชั่น -->
        <p class="text-gray-700 font-semibold text-lg mb-4">{{ promotion.name }}</p>

        <!-- รายละเอียดโปรโมชั่น -->
        <div class="mt-2 text-gray-600 text-sm">
            <p>{{ promotion.details }}</p>
        </div>

        <!-- เส้นประ -->
        <div class="border-t-2 border-dashed mt-6 mb-4"></div>

        <!-- QR Code -->
        <div class="flex flex-col items-center justify-center">
            <p class="mb-2">Coupon ID: {{ qr_code.coupon.promotion_count }}</p>
            <img src="{% static qr_code.collect_qr_path %}" alt="QR Code for Coupon {{ qr_code.coupon.id }}" class="w-48 h-48">
        </div>

        <!-- วันที่หมดอายุ -->
        <p class="text-center text-gray-400 text-sm mt-4">
            ใช้งานได้ถึง {{ promotion.end|date:"d F Y" }}
        </p>
     <p class="text-center text-sm text-gray-600">URL: {{ qr_code.coupon.collect_qr_code_url }}</p>
    </div>

    {% endfor %}
            </div>
    <!-- ปุ่มบันทึกข้อมูล -->
    <div class="mt-10">
        <a href="{% url 'promotions_store' %}" class="px-8 py-3 bg-white text-[#164863] rounded-full shadow hover:bg-[#DDF2FD] hover:text-[#164863]">
            บันทึกข้อมูล
        </a>
    </div>
</div>
</html>