{% extends "nav.html" %}

{% block title %}

<!-- Promotion Section -->
<section class="mt-8 px-6">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-[#164863]">โปรโมชั่น</h2>
        {% if not user.is_authenticated %}
            <!-- ถ้าไม่ได้ล็อกอินให้ Redirect ไปหน้าล็อกอิน -->
            <a href="{% url 'login' %}?next={% url 'promotions_member' %}" class="text-sm text-gray-500">
                ดูทั้งหมด
            </a>
        {% else %}
            <!-- ถ้าล็อกอินแล้วก็แสดงปุ่มตามปกติ -->
            <a href="{% url 'promotions_all' %}" class="text-sm text-gray-500">ดูทั้งหมด</a>
        {% endif %}
    </div>

    <!-- Promotion Cards: 1 แถว เลื่อนได้แนวนอน -->
    <div class="flex space-x-4 overflow-x-auto mt-4 ml-10 mr-10 p-8 no-scrollbar">
        {% for i in data %}
            <a href="#" class=" flex-shrink-0">
            <div class="bg-white p-4 w-72 h-80 rounded-lg text-center shadow-xl border flex flex-col justify-between">
                <!-- ชื่อร้านค้า -->
                <h3 class="text-black text-left text-l font-bold break-words whitespace-normal">
                    {{ i.store }}
                </h3>

                <!-- โลโก้ร้านค้า -->
                <div class="flex justify-center mt-2">
                    {% if i.picture %}
                        <img src="{{ i.picture.url }}" alt="Store Logo" class="w-12 h-12 object-cover rounded-full">
                    {% else %}
                        <div class="w-12 h-12 bg-gray-200 rounded-full flex items-center justify-center">
                            <span class="text-sm font-bold text-gray-500">โลโก้</span>
                        </div>
                    {% endif %}
                </div>

                <!-- ชื่อโปรโมชั่น -->
                <p class="text-xl text-red-600 font-bold mt-4 break-words whitespace-normal">
                    {{ i.name }}
                </p>

                <!-- วันหมดอายุ -->
                <p class="text-sm text-gray-500 mt-4 break-words whitespace-normal">ใช้งานได้ถึง
                    {{ i.end }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
