{% extends "nav.html" %}

{% block title %}

<!-- Promotion Section -->
<section class="mt-8 px-6">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-[#164863]">โปรโมชั่น</h2>
        {% if not user.is_authenticated %}
            <!-- ถ้าไม่ได้ล็อกอินให้ Redirect ไปหน้าล็อกอิน -->
            <a href="{% url 'login' %}?next={% url 'promotions_member' %}" class="text-sm text-gray-500">
                ดูทั้งหมด
            </a>
        {% else %}
            <!-- ถ้าล็อกอินแล้วก็แสดงปุ่มตามปกติ -->
            <a href="{% url 'promotions_all' %}" class="text-sm text-gray-500">ดูทั้งหมด</a>
        {% endif %}
    </div>

<!-- รวมข้อมูลในกรอบเดียว -->
        <div class="flex space-x-4 overflow-x-auto mt-4 ml-10 mr-10 p-8 no-scrollbar">
            {% for i in data %}
                <a href="#" class="block">
                <div class="relative bg-[#DDF2FD] w-[350px] h-[150px] flex items-center p-4 rounded-3xl">

                <!-- วงกลมบน -->
                <div class="absolute z-10 top-0 left-1/3 transform -translate-x-1/2 -translate-y-1/2 w-14 h-14 bg-white rounded-full" style="clip-path: inset(50% 0 0 0);"></div>
                <!-- วงกลมล่าง -->
                <div class="absolute z-10 bottom-0 left-1/3 transform -translate-x-1/2 translate-y-1/2 w-14 h-14 bg-white rounded-full" style="clip-path: inset(0 0 50% 0);"></div>

                    <!-- เนื้อหาในการ์ด -->
                    <div class="flex-shrink-0 w-16 left-1/2 h-16 bg-[#DDF2FD] rounded-full flex items-center justify-center">
                    <div class="left-0 w-full flex justify-center ml-3 h-full">
                        {% if i.picture %}
                            <img src="{{ i.picture.url }}" alt="Promotion Image" class="w-full h-full object-cover rounded-full ">
                        {% else %}
                            <span class="text-sm font-bold text-gray-500">ไม่มีภาพ</span>
                        {% endif %}
                    </div>
                    </div>

                    <!-- เส้นประ -->
                    <div class="bg-dashed border-dashed border-2 border-white left-1/3 ml-8 h-full"></div>

                    <!-- รายละเอียด -->
                    <div class="flex-1 ml-10 mr-5 ">
                        <p class="text-xl font-bold text-[#164863]">{{ i.store }}</p>
                        <p class="text-sm text-[#164863]">{{ i.name }}</p>
                        <p class="text-sm mt-3 text-[#164863]">ใช้งานได้ถึง: {{ i.end|date:"d M Y" }}</p>
                    </div>
                </div>
            {% empty %}
                <div class="text-center col-span-3">
                    <p class="text-gray-500">ยังไม่มีคูปองที่สะสม</p>
                </div>
                </a>
            {% endfor %}
        </div>
</section>
{% endblock %}
