{% extends "nav.html" %}

{% block title %}
<div class="max-h-screen py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center items-center">
            <div class="flex border border-[#164863] rounded-full overflow-hidden">
            <h1 class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full focus:outline-none">ประวัติการใช้งานคูปองของคุณ</h1>
            </div>
        </div>

        <div class="mb-6 bg-white rounded-lg p-6 shadow-md">
    <div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-3 gap-3">
        <div class="text-center p-4 bg-blue-50 rounded-lg shadow">
            <p class="text-sm text-gray-600">คูปองทั้งหมด</p>
            <p class="text-2xl font-bold text-blue-600">{{ total_collected_coupons }}</p>
        </div>
        <div class="text-center p-4 bg-green-50 rounded-lg shadow">
            <p class="text-sm text-gray-600">คูปองที่ยังไม่ถูกใช้</p>
            <p class="text-2xl font-bold text-green-600">{{ available_coupons }}</p>
        </div>
        <div class="text-center p-4 bg-red-50 rounded-lg shadow">
            <p class="text-sm text-gray-600">คูปองที่ถูกใช้งานแล้ว</p>
            <p class="text-2xl font-bold text-red-600">{{ used_coupons }}</p>
        </div>
    </div>
</div>


        <div class="md:h-[450px] h-[390px] overflow-y-auto place-items-center border-1 shadow-xl">
            {% if coupons %}
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-8 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">ร้านค้า</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">โปรโมชั่น</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">รายละเอียด</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่หมดอายุ</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่สะสม</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">สถานะการใช้งาน</th>
                                <th class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่ใช้งาน</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 text-center">
                            {% for coupon in coupons %}
                            <tr class="hover:bg-gray-50">
                                <td class="px-8 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ coupon.promotion.store.store_name }}
                                </td>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium text-gray-900">{{ coupon.promotion.name }}</div>
                                </td>
                                <td class="px-2 py-4">
                                    <div class="text-sm text-gray-900">
                                        {% if coupon.promotion.discount %}
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                            ส่วนลด {{ coupon.promotion.discount }}%
                                        </span>
                                        {% endif %}
                                        {% if coupon.promotion.free %}
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ml-2">
                                            ฟรี {{ coupon.promotion.free }} แก้ว
                                        </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ coupon.promotion.end|date:"d M Y" }}</div>
                                </td>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        {% if coupon.collected_at %}
                                            {{ coupon.collected_at|date:"d M Y H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    {% if coupon.used %}
                                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                                        ใช้งานแล้ว
                                    </span>
                                    {% else %}
                                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                        พร้อมใช้งาน
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        {% if coupon.used_at %}
                                            {{ coupon.used_at|date:"d M Y H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="text-center py-12 bg-white rounded-lg shadow">
                <p class="text-gray-500 text-lg">ยังไม่มีคูปองที่สะสม</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}