{% extends "nav.html" %}

{% block title %}
<div class="max-h-screen py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center items-center">
            <div class="flex border border-[#164863] rounded-full overflow-hidden">
            <h1 class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full focus:outline-none">คูปองทั้งหมดของร้าน</h1>
            </div>
        </div>
    <p class="py-4 text-gray-600 text-center ">แสดงรายการคูปองทั้งหมดที่สร้างโดยร้านของคุณ</p>

        <div class="mb-6 bg-white rounded-lg p-6">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="text-center p-4 bg-blue-50 rounded-lg">
                    <p class="text-sm text-gray-600">จำนวนคูปองทั้งหมด</p>
                    <p class="text-2xl font-bold text-blue-600">{{ total_coupons }}</p>
                </div>
                <div class="text-center p-4 bg-yellow-50 rounded-lg">
                    <p class="text-sm text-gray-600">คูปองที่ยังไม่ถูกสะสม</p>
                    <p class="text-2xl font-bold text-yellow-600">{{ available_coupons }}</p>
                </div>
                <div class="text-center p-4 bg-green-50 rounded-lg">
                    <p class="text-sm text-gray-600">คูปองที่ถูกสะสมแล้ว</p>
                    <p class="text-2xl font-bold text-green-600">{{ collected_coupons }}</p>
                </div>
                <div class="text-center p-4 bg-red-50 rounded-lg">
                    <p class="text-sm text-gray-600">คูปองที่ถูกใช้งานแล้ว</p>
                    <p class="text-2xl font-bold text-yellow-600">{{ used_coupons }}</p>
                </div>
            </div>
        </div>
    <div class="h-[400px] overflow-y-auto place-items-center border-1 shadow-xl">
        {% if coupons %}
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ไอดีคูปอง</th>
                            <th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">โปรโมชั่น</th>
                            <th class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">รายละเอียด</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่หมดอายุ</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">สถานะการสะสม</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ผู้สะสม/ใช้งาน</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่สะสม</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">สถานะการใช้งาน</th>
                            <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">วันที่ใช้งาน</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for coupon in coupons %}
                        <tr class="hover:bg-gray-50">
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ coupon.promotion_count }}
                            </td>
                            <td class="px-2 py-4 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">{{ coupon.promotion.name }}</div>
                            </td>
                            <td class="px-4 py-4">
                                <div class="text-sm text-gray-900">
                                    {% if coupon.promotion.discount %}
                                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                        ส่วนลด {{ coupon.promotion.discount }}%
                                    </span>
                                    {% endif %}
                                    {% if coupon.promotion.free %}
                                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ml-2">
                                        ฟรี {{ coupon.promotion.free }} แก้ว
                                    </span>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">{{ coupon.promotion.end|date:"d M Y" }}</div>
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                {% if coupon.collect %}
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                    สะสมแล้ว
                                </span>
                                {% else %}
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
                                    ยังไม่ถูกสะสม
                                </span>
                                {% endif %}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                {% if coupon.used %}
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                    ถูกใช้งานแล้ว
                                </span>
                                {% else %}
                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
                                    ยังไม่ถูกใช้งาน
                                </span>
                                {% endif %}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">
                                    {% if coupon.member %}
                                        {{ coupon.member.user.first_name }} {{ coupon.member.user.last_name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">
                                    {% if coupon.collected_at %}
                                        {{ coupon.collected_at|date:"d M Y H:i" }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">
                                    {% if coupon.used_at %}
                                        {{ coupon.used_at|date:"d M Y H:i" }}
                                    {% else %}
                                         -
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="text-center py-12 bg-white rounded-lg shadow">
            <p class="text-gray-500 text-lg">ยังไม่มีคูปองที่สร้าง</p>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}