{% extends "nav.html" %}

{% block title %}
{% load static %}
<body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-center items-center mb-6">
            <div class="border border-[#164863] rounded-full overflow-hidden">
                <div class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full">
                    แลกคูปอง
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6 max-w-md mx-auto">
            {% with coupon=coupons.0 %}
            <div class="bg-white rounded-lg shadow-lg overflow-hidden border-t-4 border-[#164863] relative">
                <div class="absolute z-10 top-44 left-0 transform -translate-y-1/2 w-7 h-14 bg-white rounded-r-full border-r-2 border-y-2 border-gray-100"></div>
                <div class="absolute z-10 top-44 right-0 transform -translate-y-1/2 w-7 h-14 bg-white rounded-l-full border-l-2 border-y-2 border-gray-100"></div>

                <div class="p-6">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="bg-[#164863] text-white px-4 py-1 rounded-full font-bold text-2xl">{{ promotion.store.store_name }}</h2>
                        {% if promotion.discount %}
                            <p class="bg-green-100 text-green-800 px-4 py-1 rounded-full text-sm font-semibold">ลด {{ promotion.discount|floatformat:0 }}%</p>
                        {% elif promotion.free %}
                            <p class="bg-green-100 text-green-800 px-4 py-1 rounded-full text-sm font-semibold">{{ promotion.cups }} ฟรี {{ promotion.free }}</p>
                        {% endif %}
                    </div>

                    <p class="text-lg font-semibold text-[#164863] mb-2">{{ coupon.promotion.name }}</p>

                    <div class="text-[#164863] text-sm mb-4">
                        <p>{{ promotion.details }}</p>
                    </div>

                    <div class="border-t-4 border-dashed mt-5 mb-4"></div>

                    <div class="flex flex-col items-center justify-center">
                        <p class="mb-2 text-[#164863] ">คิวอาร์โค้ดสำหรับแลกคูปอง</p>
                        {% if qr_code_image %}
    <img src="{{ qr_code_image }}" alt="QR Code for Promotion {{ promotion.id }}" class="w-48 h-48">
{% else %}
    <p class="text-red-500">ไม่พบ QR Code สำหรับโปรโมชั่นนี้</p>
{% endif %}
                    </div>
                    <p class="text-sm text-gray-500 mb-4 text-end">
                        ใช้งานได้ถึง: {{ coupon.promotion.end|date:"d F Y" }}
                    </p>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
</body>
{% endblock %}