{% extends "nav.html" %}

{% block title %}
    {% load static %}
<body class="bg-gray-100 min-h-screen">
    <div class="flex flex-col items-center justify-center">
        <!-- Header -->
        <div class="flex justify-center items-center mt-4">
            <div class="flex border border-[#164863] rounded-full overflow-hidden">
                <div class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full focus:outline-none">
                    แลกคูปอง
                </div>
            </div>
        </div>

        <!-- Promotion Header -->
        <h3 class="text-xl font-bold text-[#164863] w-full text-center mt-6 mb-4">
            {{ promotion.name }} 
            ({{ collected_count }}/{{ total_required }} คูปอง)
        </h3>

        <!-- Coupons Grid -->
        <div class="grid grid-cols-1 gap-3 h-[500px] w-3/4 overflow-y-auto place-items-center mt-2">
            {% for coupon in coupons %}
            <!-- Coupon Card -->
            <div class="bg-white rounded-lg shadow-xl relative border-t-4 border-gray-200 p-6 w-1/3 mb-4">
                <!-- Left Circle -->
                <div class="absolute z-10 top-1/2 left-0 transform -translate-y-1/2 -translate-x-1/2 w-14 h-14 bg-white rounded-full border-2 border-gray-100" style="clip-path: inset(0 0 0 50%);"></div>
                <!-- Right Circle -->
                <div class="absolute z-10 top-1/2 right-0 transform -translate-y-1/2 translate-x-1/2 w-14 h-14 bg-white rounded-full border-2 border-gray-100" style="clip-path: inset(0 50% 0 0);"></div>

                <!-- Header -->
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-red-500 font-bold text-2xl">{{ promotion.store.store_name }}</h2>
                    {% if promotion.discount %}
                        <p class="text-gray-700 text-lg font-bold">ลด {{ promotion.discount|floatformat:0 }}%</p>
                    {% elif promotion.free %}
                        <p class="text-gray-700 text-lg font-bold">{{ promotion.cups }} ฟรี {{ promotion.free }}</p>
                    {% endif %}
                </div>

                <!-- Promotion Name -->
                <p class="text-gray-700 font-semibold text-lg mb-4">{{ coupon.promotion.name }}</p>

                <!-- Details -->
                <div class="mt-2 text-gray-600 text-sm">
                    <p>{{ promotion.details }}</p>
                </div>

                <!-- Dashed Line -->
                <div class="border-t-2 border-dashed mt-6 mb-4"></div>

                <!-- QR Code -->
                <div class="flex flex-col items-center justify-center">
                    <p class="mb-2">คูปองที่: {{ coupon.promotion_count }}</p>
                    <img src="{% static coupon.use_qr_code_url_image %}" alt="QR Code for Coupon {{ coupon.coupon.use_qr_code_url }}" class="w-48 h-48">
                </div>

                <!-- Expiration Date -->
                <p class="text-center text-gray-400 text-sm mt-4">
                    ใช้งานได้ถึง {{ promotion.end|date:"d F Y" }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}