 {% extends "nav.html" %}

    {% block title %}
    <!-- Promotion Section -->
    <section class="mt-8 px-6">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold text-[#164863]">โปรโมชั่น</h2>
            <a href="#" class="text-sm text-gray-500">ดูทั้งหมด</a>
        </div>

        <!-- Promotion Cards -->
        <div class="grid grid-cols-4 gap-4 mt-4">
            <!-- Card 1 -->
            {% for p in member_promotions %}
            <div class="bg-white p-6 rounded-lg text-center shadow-xl border h-60 ">
                <h3 class="text-black text-left text-xl font-bold ">{{ p.store }}</h3>
                <p class="text-2xl text-red-600 font-bold mt-12">{{ p.name }}</p>
                <p class="text-sm text-gray-500 mt-16">{{ p.end }}</p>
            </div>
            {% endfor %}
            <!-- Add more cards as needed -->
        </div>
    </section>
    {% endblock %}

</body>
</html>