<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOUPON</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white font-sans">

    <!-- Navigation Section -->
    <nav class="flex justify-between items-center px-6 py-4 shadow">
        <div class="text-center">
            <!-- Logo Section -->
            <img src="https://raw.githubusercontent.com/yaneekumsudsang/logo/refs/heads/main/logo.png" alt="KP KOUPON" class="mx-auto w-14"><!-- Replace with actual logo path -->
        </div>

        <!-- Navigation Buttons -->
        <div class="flex space-x-4">
            {% if user.is_authenticated %}
                <a href="#" class="px-2 py-2">โปรโมชั่น</a>
                <a href="{% url 'profile' %}" class="px-2 py-2">ข้อมูลของฉัน</a>
                <a href="{% url 'scan_qr' %}" class="px-2 py-2">สแกนคิวอาร์โค้ด</a>
                <a href="#" class="px-2 py-2">แลกคูปอง</a>
                <a href="/promotions/" class="px-2 py-2">คูปองสะสม</a>
                <a href="/UsedCoupons" class="px-2 py-2">ประวัติการใช้งานคูปอง</a>
                <a href="#" class="px-2 py-2">เติมเงิน</a>
                <a href="#" class="px-2 py-2">ชำระเงิน</a>
                <a href="#" class="px-2 py-2">โอนเงิน</a>
                <a href="{% url 'koupon_logout' %}" class="px-4 py-2 bg-[#164863] border text-white rounded-lg hover:bg-[#DDF2FD] hover:text-[#164863]">Logout</a>
            {% else %}
                <a href="/register" class="px-4 py-2 bg-[#164863] border text-white rounded-lg hover:bg-[#DDF2FD] hover:text-[#164863]">สมัครสมาชิก</a>
                <a href="/login" class="px-4 py-2 bg-[#164863] border text-white rounded-lg hover:bg-[#DDF2FD] hover:text-[#164863]">เข้าสู่ระบบ</a>
            {% endif %}
        </div>
    </nav>
    {% block title %}

    {% endblock %}
</body>
</html>