{% extends "nav.html" %}

{% block title %}
<body class="bg-gray-100 min-h-screen">
    <!-- หัวข้อ -->
    <section class="mt-6 px-6">
    
        <div class="flex justify-center items-center mt-4">
            <div class="flex border border-[#164863] rounded-full overflow-hidden">
                <a href="#" class="px-6 py-2 bg-[#164863] text-white font-medium m-2 rounded-full focus:outline-none">
                    โปรโมชั่นทั้งหมด
                </a>
            </div>
        </div>

        <!-- Promotion Cards -->
        <div class="grid grid-cols-1 gap-3 h-[500px] overflow-y-auto place-items-center mt-4">
            {% for promotion in all_promotions %}
            <div class="relative bg-white shadow-xl h-32 flex items-center border p-4 rounded-lg">
                <!-- วงกลมซ้าย -->
                <div class="absolute z-10 top-1/2 left-0 transform -translate-y-1/2 -translate-x-1/2 w-14 h-14 bg-white rounded-full border-2 border-gray-100" style="clip-path: inset(0 0 0 50%);"></div>
                <!-- วงกลมขวา -->
                <div class="absolute z-10 top-1/2 right-0 transform -translate-y-1/2 translate-x-1/2 w-14 h-14 bg-white rounded-full border-2 border-gray-100" style="clip-path: inset(0 50% 0 0);"></div>

                <!-- โลโก้ร้านค้า -->
                <div class="flex-shrink-0 w-16 h-16 ml-8 bg-[#DDF2FD] rounded-full flex items-center justify-center">
                    {% if promotion.picture %}
                        <img src="{{ promotion.picture.url }}" alt="Store Logo" class="w-full h-full object-cover rounded-full">
                    {% else %}
                        <span class="text-sm font-bold text-gray-500">โลโก้</span>
                    {% endif %}
                </div>

                <!-- เส้นประ -->
                <div class="bg-dashed border-l-2 border-dashed border-gray-300 mx-4 h-full"></div>

                <!-- รายละเอียด -->
                <div class="flex-1 ml-2 mr-5">
                    <p class="text-xl font-bold text-black">{{ promotion.name }}</p>
                    <p class="text-sm text-gray-800">{{ promotion.store.store_name }}</p>
                    <p class="text-sm text-gray-800 mt-3">ใช้งานได้ถึง: {{ promotion.end|date:"d F Y" }}</p>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-gray-500">ไม่มีโปรโมชั่นในขณะนี้</p>
            {% endfor %}
        </div>

    </section>
</body>
{% endblock %}